/* =======
nav bar start
========== */

.navbar{
    width: 100%;
    padding: 18px 0;
}

.nav-link{
    color: #00413D;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    transition: .4s;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.nav-link:hover{
    color: #E5745D;
    
}
.navbar-nav{
    column-gap: 50px;
}
.nav-btn {
    background: #E5745D;
    padding: 14px 30px;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    position: relative;

}
.nav-btn::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid white;
}

/* ====
nav bar end
======== */



/* ====
banner part start
======== */

.banner{
    width: 100%;
    height: 850px;
    background-image: url(../img/bannerbackground.png);
    position: relative;
}
.overlay{
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right:-35%;
    transition: 1s;
}
.banner:hover .overlay{
    right: 0;
    background-image: url(../img/modelpic.jpg);

}
.banner-left h2{
    font-size: 100px;
    font-weight: 700;
    font-family: "Vollkorn", serif;
    color: #fff;
    padding-top: 220px;
    padding-bottom: 14px;
}
.banner-left h2 span{
    display: block;
}
.banner-left p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #837b7b;
    padding-bottom: 50px;
    width: 670px;
}
.banner-left p span{
    font-weight: 500;
    color: #fff;
}

.banner-left .btn-size{
    width: 180px;
    height: 65px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #fff;
}


/* ====
banner part  end
======== */

/* ====
Services part  start
======== */
.service-line{
    position: relative;
    left: 43%;
    
}
.service-line h4{
    position: absolute;
    top: 5px;
    left: 50px;
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}

.Service-part{
    padding-top: 220px;
    padding-bottom: 120px;
}

.Service-part .container h2{
    font-size: 50px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    color: #00413D;
    text-align: center;
    line-height: 60px;
    width: 517px;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 11px;
}
.service-card img{
    width: 68px;
    height: 68px;
}
.service-card .card-body .card-title{
    font-weight: 800;
    font-size: 24px;
    color: #00413D;
    font-family: "Vollkorn", serif;
    padding-bottom: 15px;
    padding-top: 26px;
}

.service-card .card-body .card-text{
    font-weight: 400;
    font-size: 16px;
    color: #00413D;
    font-family: "Jost", sans-serif;
    line-height: 24px;
    width: 245px;
}

.service-card .card-body .serviceicon{
    width: 28.01px;
    height: 20px;
    color: #00413D;
    font-size: 45px;
    padding-top: 20px;
}
.service-card .card-body .serviceicon:hover{
    color: #E5745D;
}

.service-card{
    padding-left: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 0;
    box-shadow: 7px 5px 29px -6px rgba(0,0,0,0.75);
    border-radius: 0;
}
.card-body{
    padding: 0;
}
/* ====
Services part  end
======== */

/* ====
about part  start
======== */

.about-part{
    padding-bottom: 80px;
}

.about-part .box{
    display: flex;
    column-gap: 30px;
}
.about-part .box .box-child img{
    width: 370px;
    height: 480px;
    gap: 30px;
}
.about-part .box .box-child1 img{
    width: 170px;
    height: 225px;
}
.about-part .box .box-child{
    width: 370px;
    height: 480px;
}
.about-part .box .box-child1{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.about-line{
    position: relative;
}
.about-line h4{
    position: absolute;
    top: 5px;
    left: 50px;
    

}
.about-text{
    padding-top: 29px;
    padding-bottom: 29px;
}

.about-line h4{
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}
.about-text h2{
    color: #00413D;
    font-size: 50px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    width: 570px;
}

.about-text p{
    color: #00413D;
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    line-height: 26px;
    width: 570px;
}
.about-text .about-btn{
    width: 198px;
    height: 64px;
    margin-top: 25px;
}
.common-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
}


/* ====
about part  end
======== */


/* ====
skill part  start
======== */
.skill-bar{
    padding-bottom: 120px;
}
.skill-bar .radius{
    width: 167px;
    height: 167px;
    border-radius: 50%;
    border: 8px solid #E5745D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-bar .radius span{
    font-size: 34px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
    color: #E5745D;
}
.skill-bar h3{
    font-size: 26px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
    color: #00413D;
    padding-top: 24px;
}
.skill-bar .box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====
skill part  end
======== */


/* ====
project part  start
======== */


.Project-part .project-sbtn button{
    width: 44px;
    height: 44px;
    border: 1px solid #b2b8b7;
    color: #00413D;
}
.project-sbtn{
    flex-wrap: nowrap;
    
}
.project-sbtn i{
    font-size: 20px;
}
.project-sbtn button:hover {
    background: #E5745D;
    color: #fff;
}

.project-sbtn h2{
    font-size: 50px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    color: #00413D;
    padding-top: 8px;
    width: 91%;
}
.project-card{
    border: 0;
    border-radius: none;
    box-shadow: 7px 5px 29px -6px rgba(0,0,0,0.75);
    padding-bottom: 30px;
}
.project-card img{
    width: 100%;

}
.project-card h5{
    font-size: 16px;
    font-family: "Vollkorn", serif;
    font-weight: 500;
    color: #E5745D;
    padding-top: 20px;
}
.project-card h4{
    font-size: 24px;
    font-family: "Vollkorn", serif;
    font-weight: 500;
    color: #00413D;
    width: 304px;
    line-height: 30px;
}
.project-card p{
    font-size: 16px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #00413D;
    line-height: 24px;
    width: 289px;
}
.project-card a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: #00413D;
    padding-top: 24px;
}
.project-card a:hover{
    color: #E5745D;
}
.project-card .card-body{
    padding-left: 30px;
    padding-right: 36px;
}
.Project-part .row{
    padding-bottom: 60px;
}
.Project-part .project-bbtn{
    width: 195px;
    height: 64px;
}
.Project-part .common-btn{
    justify-content: center;
}
.Project-part{
    padding-bottom: 120px;
}
/* ====
project part  end
======== */



/* ====
portfolio part  start
======== */

.Portfolio .service-line{
    position: relative;
    left: 43%;
    
}
.Portfolio .service-line h4{
    position: absolute;
    top: 5px;
    left: 50px;
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}
.top-box{
    text-align: center;
    padding-bottom: 44px;
}
.Portfolio .top-box h2{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    color: #00413D;
    padding-top: 11px;
}
.top-box ul{
    list-style: none;
    justify-content: center;
    column-gap: 36px;

}

.top-box li{
    font-size: 16px;
    color: #00413D;
    font-weight: 400;
    font-family: "Vollkorn", serif;
    transition: .5s;
    border-bottom: 2px solid transparent;
}
.top-box li:hover{
    border-bottom: 2px solid #E5745D;
}
.Portfolio-card .card-body{
    background: #00413D;
    padding-left: 18px;
    padding-top: 22px;
    padding-bottom: 22px;

}
.Portfolio-card .card-body h5{
    font-size: 24px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
    color: #fff;
    
    
}
.Portfolio-card .card-body p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #fff;
    
}
.Portfolio-card .card{
    height: 520px;
    margin-bottom: 30px;
}
.Portfolio-card .card img{
    height: 100%;
}


/* ====
portfolio part  end
======== */

/* ====
Testimonial part  start
======== */
.testimonial-part .service-line{
    position: relative;
    left: 43%;
    
}
.testimonial-part .service-line h4{
    position: absolute;
    top: 5px;
    left: 50px;
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}
.testimonial-part .container h2{
    text-align: center;
    font-size: 50px;
    color: #00413D;
    font-family: "Vollkorn", serif;
    font-weight: 500;
}
.testimonial-part .container{
    background: #F9F4F1;
    margin-top: 90px;
    padding-top: 121px;
    padding-bottom: 170px;
}
.testimonial-part {
    background: #F9F4F1;
    margin-bottom: 120px;
    
}

.testimonial-part .container .box-l{
    background: #fff;
    border-top: 7px solid #E5745D;
    box-shadow: 7px 5px 29px -6px rgba(0,0,0,0.75);
    position: relative;
    margin-bottom: 38px;
}
.testimonial-part .container .box-l p{
    width: 490px;
    font-size: 16px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    line-height: 26px;
    padding-top: 23px;
    padding-left: 40px;
    padding-bottom: 30px;
}
.testimonial-part .container .box-l img {
    position: absolute;
    bottom: -36px;
    left: 81px;
}
.testimonial-part .text-part{
    padding-left: 30px;
}
.testimonial-part .text-part h3{
    color: #00413D;
    font-size: 20px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
}

/* ====
Testimonial part  end
======== */


/* ====
Contract  part  start
======== */
.Contract-part{
    margin-bottom: 120px;
}
.Contract-part .about-line{
    position: relative;
}

.Contract-part .about-line h4{
    position: absolute;
    top: 5px;
    left: 50px;
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}
.Contract-part .Avatar{
    width: 470px;
    height: 586px;
}
.left-part{
    padding: 53px 0;
}
.Contract-part .left-part h3{
    font-size: 50px;
    color: #00413D;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    padding-top: 11px;
}
.from-box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 29px;
    width: 100%;
    padding-top: 40px;
}
.from-box .input{
    width: 48%;
    border: none;
    border-bottom: 2px solid rgba(0, 65, 61,0.1);
    padding: 15px 15px;
    font-size: 18px;
    color: rgba(0, 65, 61,0.7);
    font-family: "Jost", sans-serif;
    font-weight: 400;
}
.from-box .input::placeholder{
    font-size: 18px;
    color: rgba(0, 65, 61,0.7);
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

.from-box .input5{
    width: 100%;
}

.Contract-part .contact-btn{
    width: 173px;
    height: 64px;
    margin-top: 20px;
}
.common-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
}


/* ====
Contract  part  end
======== */

/* ====
blog  part  start
======== */

.Blog-part{
    padding-bottom: 120px;
}
.Blog-part .Blogs-line{
    position: relative;
    left: 43%;
    
}
.Blog-part .Blogs-line h4{
    position: absolute;
    top: 5px;
    left: 50px;
    color: #E5745D;
    font-size: 18px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
}
.Blog-part h2{
    color: #00413D;
    font-size: 50px;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 40px;
}

.blog-card{
    border: 0;
    border-radius: none;
    box-shadow: 7px 5px 29px -6px rgba(0,0,0,0.75);
    padding-bottom: 30px;
}
.blog-card img{
    width: 100%;

}
.blog-card h5{
    font-size: 14px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #E5745D;
    padding-top: 20px;
}
.blog-card h6{
    font-size: 14px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #00413D;
    padding-top: 20px;
}

.blog-card h4{
    font-size: 24px;
    font-family: "Vollkorn", serif;
    font-weight: 500;
    color: #00413D;
    width: 281px;
    line-height: 30px;
}
.blog-card p{
    font-size: 16px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #00413D;
    line-height: 24px;
    width: 325px;
}
.blog-card a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: #00413D;
    padding-top: 24px;
}
.blog-card a:hover{
    color: #E5745D;
}
.blog-card .card-body{
    padding-left: 30px;
    padding-right: 36px;
}
.card-body .blog-text{
    display: flex;
    justify-content: space-between;
}

.blog-card .row{
    padding-bottom: 60px;
}

/* ====
blog  part  end
======== */


/* ====
footer  part  start
======== */
.footer-part {
    background: #00413D;
    height: 474px;
}
.footer-part .box {
    text-align: center;
    padding-top: 80px;
}
.footer-part .ul-one{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 33px;
    padding-top: 60px;
}
.footer-part .ul-one li{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 33px;
    color: #FFFFFF;
}
.footer-part .ul-one li:last-child{
    border-right:none;
}

.ul-two{
    list-style: none;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255,0.1);
    
}
.ul-two li{
    background: #E5745D;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 19px;
}

.ul-two i{
    color: #FFFFFF;
    font-size: 34px;
}
.footer-part .Copyright{
    font-size: 12px;
    font-family: "Jost", sans-serif;
    color: rgba(255, 255, 255,0.7);
    padding-top: 30px;
}
/* ====
footer  part  end
======== */


